# --- Notebook policy ---
# Ignore local experimentation notebooks
/notebooks/local/
# Ignore ROI2 notebooks
/notebooks/main_ROI2.ipynb

# Always ignore checkpoints
**/.ipynb_checkpoints/

# Always ignore __pychache__ folders
**/__pycache__/

# --- Data policy (deny by default) ---
# Ignore all data by default (keeps repo light)
/data/**
# Allowlist 
!/data/LossBD_LT_ROI1_TCW.tif
!/data/GT_DF_class_GFC_ROI1.tif

# --- Assets policy ---
# Ignore all docs by default (keeps repo light)
/assets/fonts/**

# --- Docs policy ---
# Ignore all docs by default (keeps repo light)
/docs/**
# Allowlist 
!/docs/presentation.pdf